.env
finbert_finetuned/
tf_env

Amazon_sentiments.csv

Google_sentiments.csv

Microsoft_sentiments.csv

J.P. Morgan_sentiments.csv

Apple_sentiments.csv

AMZN_sentiments.csv

MSFT_sentiments.csv

APPL_sentiments.csv

JPM_sentiments.csv

GOOG_sentiments.csv

sentiments_AEE.csv

sentiments_AIZ.csv

sentiments_AJG.csv

sentiments_by_company

outputs_pullpush_finbert/

Portfolio Analysis and Optimization Suggestions.xlsx
